In [2]:
import pandas as pd
import numpy as np
from statsmodels.tsa.stattools import adfuller

In [3]:
df = pd.read_csv("monthly-milk-production-pounds-p.csv")
df

       Month  Milk
0    1962-01   589
1    1962-02   561
2    1962-03   640
3    1962-04   656
4    1962-05   727
..       ...   ...
163  1975-08   858
164  1975-09   817
165  1975-10   827
166  1975-11   797
167  1975-12   843

[168 rows x 2 columns]

In [5]:
# ADF TEst
y = df['Milk']
ad_result = adfuller(y,autolag=None)

In [6]:
p_val = ad_result[1]
if p_val < 0.05:
    print("Stationarity")
else:
    print("Non-stationarity")

Non-stationarity

In [13]:
# 1st order diff
d_y = y-y.shift(1)
ad_result = adfuller(d_y.iloc[1:],autolag=None)
p_val = ad_result[1]
if p_val < 0.05:
    print("Stationarity")
else:
    print("Non-stationarity")

Stationarity

__ADF for WGEM dataset__

In [14]:
df = pd.read_csv("WGEM-IND_CPTOTNSXN.csv")
df

          Date       Value
0   31-12-1987   19.448655
1   31-12-1988   21.274000
2   31-12-1989   21.967677
3   31-12-1990   23.939126
4   31-12-1991   27.259261
5   31-12-1992   30.471893
6   31-12-1993   32.411083
7   31-12-1994   35.720636
8   31-12-1995   39.372939
9   31-12-1996   42.907602
10  31-12-1997   45.981085
11  31-12-1998   52.066580
12  31-12-1999   54.496160
13  31-12-2000   56.680771
14  31-12-2001   58.768732
15  31-12-2002   61.826650
16  31-12-2003   64.499797
17  31-12-2004   66.990684
18  31-12-2005   69.501823
19  31-12-2006   73.724180
20  31-12-2007   78.138923
21  31-12-2008   84.842041
22  31-12-2009   93.094370
23  31-12-2010  102.723775
24  31-12-2011  111.259619
25  31-12-2012  121.699068
26  31-12-2013  133.697853
27  31-12-2014  142.588092
28  31-12-2015  149.584852
29  31-12-2016  156.986634
30  31-12-2017  161.263669

In [16]:
# ADF TEst
y = df['Value']
ad_result = adfuller(y, autolag=None)
p_val = ad_result[1]
print(ad_result)
if p_val < 0.05:
    print("Stationarity")
else:
    print("Non-stationarity")

(4.452801690708268, 1.0, 9, 21, {'1%': -3.7883858816542486, '5%': -3.013097747543462, '10%': -2.6463967573696143})
Non-stationarity

In [17]:
# 1st order diff
d_y = y - y.shift(1)
ad_result = adfuller(d_y.iloc[1:], autolag=None)
p_val = ad_result[1]
if p_val < 0.05:
    print("Stationarity")
else:
    print("Non-stationarity")

Non-stationarity

In [30]:
# 2ndt order diff
d_2y = d_y - d_y.shift(2)
ad_result = adfuller(d_y.iloc[2:], autolag=None)
p_val = ad_result[1]
if p_val < 0.05:
    print("Stationarity")
else:
    print("Non-stationarity")

Stationarity

__ADF for Gasoline Dataset__

In [25]:
df = pd.read_csv("Gasoline.csv")
df

    Week  Sales
0      1     17
1      2     21
2      3     19
3      4     23
4      5     18
5      6     16
6      7     20
7      8     18
8      9     22
9     10     20
10    11     15
11    12     22

In [26]:
y = df['Sales']
ad_result = adfuller(y, autolag=None)

In [27]:
# ADF TEst
y = df['Sales']
ad_result = adfuller(y, autolag=None)
p_val = ad_result[1]
print(ad_result)
if p_val < 0.05:
    print("Stationarity")
else:
    print("Non-stationarity")

(-1.360655737704969, 0.6009862562529591, 4, 7, {'1%': -4.9386902332361515, '5%': -3.477582857142857, '10%': -2.8438679591836733})
Non-stationarity

In [28]:
# 1st order differencing
d_y = y - y.shift()
ad_result = adfuller(d_y[1:], autolag=None)
p_val = ad_result[1]
print(ad_result)
if p_val < 0.05:
    print("Stationarity")
else:
    print("Non-stationarity")

(-5.443853017036844, 2.7381863808017697e-06, 3, 7, {'1%': -4.9386902332361515, '5%': -3.477582857142857, '10%': -2.8438679591836733})
Stationarity